@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #0a0f1d;
  --color-secondary: #d91b7e;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-muted: #64748b;
}

:root {
  --brand-gradient: linear-gradient(90deg, #ff5722, #d81b7e, #7c3aed);
}

body {
  font-family: var(--font-inter);
}

@utility bg-brand-gradient {
  background: var(--brand-gradient);
}
@utility text-brand-gradient {
  background: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
