@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: black;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
